.profile__edit-button {
  cursor: pointer;
  border: 1px solid white;
  outline: none;

  min-width: 24px;
  min-height: 24px;

  background-color: transparent;

  margin-left: 17px;
}

.profile__edit-button:hover {
  opacity: .6;
}
