.popup__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 20px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
