@import url(./__logo/header__logo.css);

.header {
  min-height: 74px;
  display: flex;
  border-bottom: solid 1px rgba(84, 84, 84, .7);
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 56px;
  }
}
