.popup__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(330px - 72px);
}

@media screen and (max-height: 420px) {
  .popup__form {
    min-height: auto;
  }
}
