.profile__add-button-img {
  width: 22px;
  height: 22px;
  min-width: 22px;
  margin: 0 auto;

  background-image: url(../../../images/profile-add-button.svg);
  background-position: center;
  background-size: cover;
}
