.profile__edit-button-img {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  background-image: url(../../../images/profile-edit-button.svg);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 400px) {
  .profile__edit-button-img {
    width: 7.5px;
    height: 7.5px;
  }
}
